**/*.map
**/tslint.json
.DS_Store
.editorconfig
.eslintignore
.eslintrc.json
.git/
.github/
.gitignore
.prettierrc.json
.user-data-dir-test/
.vscode/
.vscode-test/
SECURITY.md
build/
codereview.cfg
docs/
go.mod
go.sum
node_modules/
out/
src/
test/
third_party/
tools/
tsconfig.json
typings/
