**/*.map
**/tslint.json
.git/
.github/
.gitignore
.prettierrc.json
.user-data-dir-test/
.vscode/
.vscode-test/
SECURITY.md
build/
docs/
node_modules/
out/
src/
test/
third_party/
tools/
tsconfig.json
typings/
